@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }

}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }

}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }

  /*********/

}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 470px;
  }

  /***********************/


}
